* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top-section, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

.header-links {
    margin-left: auto;
}

.header-links, .hero-secondary, .image-placeholder, footer {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: none;
    color: #f9faf8;
    font-size: 18px;
    padding: 5px 20px;
}

.image-placeholder {
    background-color: grey;
}

.information-section, footer {
    text-align: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information {
    font-size: 18px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoted {
    font-weight: bold;
}

.action {
    color: #f9faf8;
    background-color: #3882f6;
}

.action-header {
    font-size: 20px;
    font-weight: bold;
}

.action-sign-up {
    border-color: #f9faf8;
}

footer {
    padding: 16px;
}