* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
}

.top-section, footer {
    background-color: #1f2937;
}

.column {
    width: 70vw;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

.header-links {
    margin-left: auto;
}

.header-links, .hero-secondary, .image-placeholder, footer {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    gap: 50px;
    padding: 100px 0;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

.hero-secondary {
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 5px 20px;
}

.image-placeholder {
    background-color: grey;
    width: 1000px;
}

.information-section, footer {
    text-align: center;
}

.information-block {
    width: 60vw;
    margin: 50px auto;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 16px;
}

.information {
    font-size: 18px;
}

.image {
    border-radius: 5px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-block {
    width: 50vw;
    margin: 70px auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoted {
    font-weight: bold;
    text-align: end;
}

.action {
    color: #f9faf8;
    background-color: #3882f6;
    width: 70vw;
    margin: 70px auto;
    border-radius: 5px;  
}

.action-contents {
    display: flex;
    padding: 40px 150px;
}

.action-header {
    font-size: 20px;
    font-weight: bold;
}

.action-sign-up {
    border-color: #f9faf8;
    margin-left: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}